/* .banner-width img {
  height: 580px;
  width: 1000px;
} */

.hover-my:hover {
  background-color: rgb(22, 34, 46);
}

.height-set {
  line-height: 38px;
}

@media screen and (max-width: 1500px) {
  .banner-width img {
    width: 980px;
    height: 500px;
  }
}

@media screen and (min-width: 1900px) {
  .banner-width img {
    height: 580px;
    width: 1000px;
  }
}

/* .banner-grid{
  display: grid;
  grid-template-columns: repeat(2,1fr);
} */
